@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;1,200;1,300;1,400;1,600;1,800&display=swap');

:root {
    --yellow: #f9ca24;
}


* {
    font-family: font-family: 'Nunito', sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    text-transform: capitalize;
    transition: all .2s linear;
}

*::selection {
    background: var(--yellow);
    color: #333;

}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

html:: -wbkit-scrollbar {
    width: 1.4rem;

}


html:: -wbkit-scrollbar-track {
    background: #222;


}


html:: -wbkit-scrollbar-thumb {
    background: var(--yellow);


}

body {
    background: #111;
    overflow-x: hidden;
    font-family: 'Nunito', sans-serif;
    padding-left: 35rem;

}


section {
    min-height: 100vh;
    padding: 1rem
}


.btn {
    padding: .7rem 3rem;
    background: #333;
    color: #fff;
    cursor: pointer;
    margin-top: 1rem;
    font-size: 2rem;
    border-radius: 5rem
}

.btn i {
    padding: 0;
    font-size: 1.7rem;

}

.btn:hover {
    background: var(--yellow);

}

.heading {
    text-align: center;
    margin: 0 6rem;
    font-size: 4rem;
    padding: 1rem;
    border-bottom: .1rem solid #464343;
    color: #fff;

}

.heading span {
    color: var(--yellow);
    padding-right: 15px;
}

header {
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 1000px;
    height: 100%;
    width: 30rem;
    background: #1a1a1a;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    text-align: center
}


header .user img {
    height: 17rem;
    width: 17rem;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 1rem;
    border: .7rem solid var(--yellow);

}

header .user .name {
    font-size: 3.5rem;
    color: #fff;
}

header .user .post {
    font-size: 2rem;
    color: #eee;
}

header .navbar {
    width: 100%;

}


header .navbar ul {
    list-style: none;
    padding: 1rem 2rem;


}

header .navbar ul li a {

    display: block;
    padding: 1rem;
    margin: 1.5rem 0;
    background: #333;
    font-size: 2rem;
    border-radius: 5rem;
    color: #fff;



}

header .navbar ul li a:hover {
    background: var(--yellow);
    color: #333;
}

#menu {
    position: fixed;
    top: 2rem;
    right: 2rem;
    background: #333;
    color: #fff;
    cursor: pointer;
    font-size: 2.5rem;
    padding: 1rem 1.5rem;
    z-index: 1000;
    display: none;
}

.home {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    flex-flow: column;
    padding: 0 15rem;
}


.home h3 {
    font-size: 2.5rem;
    color: #fff;
}




.home h1 {
    font-size: 5rem;
    color: #fff;
}

.home h1 span {
    color: var(--yellow);
}

.home p {
    font-size: 2rem;
    color: #fff;
    padding: 1rem 0;
}



.about .row {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 1rem 0;

}

.about .row .info {
    flex: 1 1 48rem;
    padding: 2rem 1rem;
    padding-left: 6rem;

}


.about .row .info h3 {
    font-size: 2rem;
    color: var(--yellow);
    padding: 1rem 0;
    font-weight: normal;


}

.about .row .info h3 span {
    color: #eee;
    padding: 0 .5rem;


}

.about .row .counter {
    flex: 1 1 48rem;
    display: flex;

    justify-content: center;
    flex-wrap: wrap;


}


.about .row .counter .box {
    width: 20rem;
    background: #222;
    text-align: center;
    margin: 2rem;
    padding: 2rem;


}

.about .row .counter .box span {
    font-size: 4rem;
    color: var(--yellow);

}

.about .row .counter .box h3 {
    font-size: 2rem;
    color: #fff;


}

.education .box-containar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 1rem 0;
    padding-left: 3rem;
}


.education .box-containar .box {
    width: 27rem;
    margin: 4rem 1rem;
    padding-left: 4rem;
    border-left: .2rem solid #fff;
    position: relative;
}


.education .box-containar .box i {
    position: absolute;
    top: -1.5rem;
    left: -2.5rem;
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    line-height: 5rem;
    text-align: center;
    font-size: 2rem;
    color: #fff;
    background: var(--yellow);
}



.education .box-containar .box span {
    font-size: 1.3rem;
    background: #222;
    color: #fff;
    border-radius: 5rem;
    padding: .5rem 2.5rem;

}

.education .box-containar .box h3 {
    font-size: 2rem;
    color: #fff;
    padding-top: 1.5rem;
}


.education .box-containar .box p {
    font-size: 1.4rem;
    color: #eee;
    padding: 1rem 0;
}

.portfollio .box-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 2rem 0;
}

.portfollio .box-container .box {
    height: 20rem;
    width: 26rem;
    border-radius: 1rem;
    margin: 2rem;
    overflow: hidden;
    cursor: pointer;
}


.portfollio .box-container .box img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}


.portfollio .box-container .box:hover img {
    transform: scale(1.2)
}




.contact .row {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

}

.contact .row .content {
    flex: 1 1 30rem;
    padding: 4rem;
    padding-bottom: 0;
}


.contact .row .content from {
    flex: 1 1 45rem;
    padding: 2rem;
    margin: 2rem margin-bottom: 4rem;
    width: 600px;
    float: right;

}

.contact .row .content from .box {
    padding: 1.5rem;
    margin: 1rem 0;
    background: #333;
    color: #fff;
    text-transform: none;
    font-size: 1.7rem;
    width: 100%;
}


.icon-box i {
    color: #fff;
    padding: 16px;
    font-size: 22px;
    margin-top: 8px;
    background: #333;
    border-radius: -4rem;
    border-radius: 50%;
    margin: 1rem;
}




.contact .row from .messahe {
    height: 15rem;
    resize: none;

}

.contact .row .content .title {
    text-transform: uppercase;
    color: #fff;
    font-size: 3rem;
    padding-bottom: 2rem;
    width: 300px;
    position: absolute;
    margin-top: 150px;
}


.contact .row .content .info h3 {
    display: flex;
    align-items: center;
    font-size: 2rem;
    color: #eee;
    padding: 1rem 0;
    font-weight: normal;
    text-transform: none;
}


.contact .row .content .info {
    position: absolute;
    margin-top: 197px;
}

.contact .row .content .info h3 i {
    padding-right: 1rem;
    color: var(--yellow);
}


.contenariya {
    width: 584px;

    background: #333;

    border-radius: 5px;
    margin: auto;
    margin-top: 21px;
    margin-bottom: 21px;
}

.contenariya span {
    font-size: 12px;
    font-weight: 700;
}

.colorbox1 {

    margin: 0px;
    padding: 5px;
    width: 90%;
    background: #e6c214;
    border-radius: 8px;


}

.colorbox2 {

    margin: 0px;
    padding: 5px;
    width: 88%;
    background: #e6c214;
    border-radius: 8px;
}

.colorbox3 {

    margin: 0px;
    padding: 5px;
    width: 55%;
    background: #e6c214;
    border-radius: 8px;
}

.colorbox4 {

    margin: 0px;
    padding: 5px;
    width: 75%;
    background: #e6c214;
    border-radius: 8px;
}

.colorbox5 {

    margin: 0px;
    padding: 5px;
    width: 40%;
    background: #e6c214;
    border-radius: 8px;
}































@media (max-width:1200px) {
    html {
        font-size: 55%;
    }

}


@media (max-width:991px) {
    header {
        left: 100vw;
    }


    #menu {
        display: block;
    }

    header.toggle {
        left: 0;
    }

    body {
        padding: 0;

    }
}






@media only screen and(max-width:1200px) {
    html {
        font-size: 55%;
    }

    .home {
        padding: 1rem 4rem;
    }

}


@media only screen and(max-width:768px) {
    html {
        font-size: 50%;

    }


}



@media only screen and(max-width:400px) {
    header {
        width: 100vw;

    }

    .heading {
        margin: 0 3rem;

    }

    .about .row .counter .box {
        width: 100%;

    }

    .education .box-containar .box {
        width: 100%;
    }

    .portfollio .box-container .box {
        width: 100%;
    }


    .contact .row form {
        margin: 20px
    }

}
